.ContactData {
    width: 80%;
    border: 1px #333 solid;
    border-radius: 5px;
    box-shadow: 0 2px 3px #111;
    box-sizing: border-box;
    padding: 12px;
    margin: 12px auto;
}

@media (max-width: 768px) {
    .ContactData {
        width: 95%;
    }
} 

.ContactData h3 {
    text-align: center;
}

.ContactData-button {
    display: flex;
    justify-content: space-around;
}

.ContactData-button button {
   border-radius: 3px;
   padding: 10px 15px;
   transition: background-color 0.5s ease;
}

.ContactData-button button:hover {
    background-color: lightgray;
}
